html, body{
    scroll-behavior: smooth;
    max-width: 100%;
}

/* Document's root element (usually <html>) */
:root{
    --page-theme:#000;            /* Double hyphens (as property name prefix) indicate the use of variables */
}

/* Styling User Selection */
::selection, ::-moz-selection{
    background-color: #000;
    background-color: var(--page-theme);
    color:#fff;
    /* mix-blend-mode: difference;
    background-blend-mode: difference; */
}

nav{
    position: sticky !important;
    top:0;
}

nav .brand-logo, 
nav .brand-logo:hover,
nav .brand-logo:active,
nav .brand-logo:focus {
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

header#top_section{
    min-height: 100vh;
}

.greeting{
    font-family:monospace;
    overflow-wrap: break-word;
    text-align: center;
    padding: 10% 0;
}

.welcome-message{
    text-align: center;
    line-height: 2;     /* Sets line height 2 (double) and keeps the line content at the vertical middle position */
    font-family: monospace;
}

.top-back {
    overflow: hidden;
    z-index: -1;
}

.top-back .top-background-split{
    height: 50vh;
    background-color: var(--page-theme);
    /* transform: skewY(-10deg) translateY(25%); transform: rotateZ(-10deg); */
    transform: skewY(-10deg);
    transform-origin: right;
}

@keyframes underline-spread{
	from {width: 1%;}
	to {width: 100%;}
}

.name-card.content{
    margin-top: 5em;
}

.content{
    margin: 3.5em auto;
}

.content .content-head{
    text-align: center;
}

.content .content-head .content-pre-head, .content .content-head .head-content, .content.name-card .content-head .name-head-content {
    display: inline-block;
}

.content .head-content::after{
	content: "";
    display: block;
    background: #ffffff00;
	height: 2px;
	width: 0%;
	transition: .5s;
}

.content:hover .head-content::after{
    background: #000;
	animation: underline-spread .75s ease-out 1 forwards;
}

.content .content-body{
    margin: .5em;
    text-align: justify;
}

.content .content-body-main{
    padding: .25em;
    z-index: 1;
}

@media (max-width:575px), print{
    .content .content-head .content-pre-head{
        display: none !important;
    }
}

@media (max-width:575px){
    .name-card-box table tbody{
        display: table-row-group !important;
        width: 100%;
    }
}

@media screen and (max-width:350px){
    .name-head-content.name{
        font-size: 2.2rem;
    }
}

.name-card-box table.name-card-contents tbody{
    width: fit-content;
    display: block;
    margin: auto;
}

.name-card-box table.name-card-contents tbody:hover {
    box-shadow: 0px 0px 0px 2px var(--page-theme);
}

.image-thumbnail-holder{
    width: fit-content;
    height: fit-content;
    max-width: 200px;
    padding: .5em;
    border-radius: 5px;
    display: grid;
    display: flow-root;
    background: whitesmoke;
}

.image-thumbnail-holder > img{
    width: 100%;
}

.qualification-part{
    margin-left: 10% !important;
    padding-left: 10%;
    padding-right: .5em;
    border-left: 2px solid !important;
}

.social-links{
    text-align: center;
}

.social-links .social-link{
    width: 2.5rem;
    height: 2.5rem;
    background: #00000099;
    color: white;
    border-radius: 50%;
    font-size: larger;
    vertical-align: middle;
    /* text-align: center; */
    /* cursor: pointer; */
    text-decoration: none;
    /* display: -webkit-inline-box; */
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.social-links .social-link:focus{
    outline: none;
    box-shadow: 0 0 2px #00000080;
}

.social-link#link-github{
    background-color: black;
}
.social-link#link-github:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
.social-link#link-github:active{
    background: radial-gradient(circle farthest-corner at bottom, gray, black);
}
.social-link#link-linkedin{
    background-color: blue;
}
.social-link#link-linkedin:hover{
    background-color: #0f0fdb;
}
.social-links #link-linkedin.social-link:active{
    background-color: darkblue;
    background: radial-gradient(circle closest-side at 0% 90%, blue, darkblue);
}
.social-link#link-mail{
    background-color: teal;
}
.social-link#link-mail:hover{
    color: lightskyblue;
}
.social-link#link-mail:active{
    background: linear-gradient(45deg turquoise, teal);
}

.back-to-top{
	position: fixed;
	bottom: 5%;
	right: 5%;
	/* font-size: 2em; */
	opacity: 80%;
    color: black;
	color: var(--page-theme);
	mix-blend-mode: difference;
	z-index: 5;
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

/* .back-to-top a[href^="#top"]{
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
} */

.back-to-top > small.option-indicator-label{
	font-size: x-small;
    user-select: none;
    /* visibility: visible; */
    opacity: 0.6;
}

.back-to-top:hover > small.option-indicator-label{
    /* visibility: visible; */
    opacity: 1;
}

footer.site-footer{
    text-align: center;
    margin-bottom: 2em;
}

span.ASCII_Emoji{
    transform: rotate(90deg);
    display: inline-block;
    font-weight: bold;
}