html, body{
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    font-family: "Play", "Noticia Text", "Raleway", "Text Me One";
}

/* Document's root element (usually <html>) */
:root{
    --page-theme:#000;            /* Double hyphens (as property name prefix) indicate the use of variables */
}

/* Styling User Selection */
::selection {
    background-color: #000;
    background-color: var(--page-theme);
    color:#fff;
    /* mix-blend-mode: difference;
    background-blend-mode: difference; */
}
/* Styling User Selection (for Mozilla Browser(s)) !Alert: It can't be combined with comma-separated selector with above ::selection styling */
::-moz-selection {
    background-color: #000;
    background-color: var(--page-theme);
    color:#fff;
}

/* Setting up Pre-Loader and Site Loader */
/* CSS for Preloader and Loader */
#preloader:not(.loaded) {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #3b70a6;
    background: linear-gradient(45deg, #a9a9aa, #e1dfdd);   /* linear-gradient(45deg, #416aa2, #39467b); */
	z-index: 1050;		/* Keep above 1030, to make it cover navbar as well? */
}

#preloader .loader {
	color: #FFF;
	font-size: 2rem;
    position: relative;
    font-weight: lighter;
	word-break: break-word;
    width: 8rem;
	height: 2em;
    overflow: hidden;
	text-align: center;
}

/* @keyframes textScrolling {
    from {
        top: 0;
    }
    to {
        top: -3rem;
    }
} */

/* @keyframes autoswipe {
    from {
        /* left: -.4em; * /
        margin-left: 0;
    }
    to {
        margin-left: 100%;
        margin-right: 0;
        /* right: 0; right: -.4em; * /
    }
} */

.absolutePositionedDivisionAsALoaderContainer {
    position: absolute;
    top: 0;
    /* animation: textScrolling 1s ease-in-out alternate infinite; */
}

.loadBar {
    width: 100%;
    border: .15rem solid white;
    height: 0.5em;
    border-radius: .2em;
    /* position: relative; */
    overflow: hidden;
    display: flex;    
}

.loader-dot {
    width: 0.4em;
    height: 0.4em;
    background: #000;
    border-radius: 0.1em;
    margin-right: .05em;
    /* position: absolute; */
    /* top: 0; */
    /* left: 1em; */
    transition: 1s;
}

@keyframes moveHorizontally {
    from {
        transform: translateX(-4.5rem);
    }
    to {
        transform: translateX(7.3rem);
    }
}

.loader-dot:nth-child(1), .loader-dot:nth-child(2), .loader-dot:nth-child(3) {
    animation: moveHorizontally 1.25s infinite;
}

/* CSS Styling Navigation Bar */
nav{
    position: -webkit-sticky !important;    /* Useful for getting sticky position in Safari Browser */
    position: sticky !important;
    top:0;
}

nav .brand-logo, 
nav .brand-logo:hover,
nav .brand-logo:active,
nav .brand-logo:focus, 
.material-icons, 
img[src*="HKG.jpg"],    /* img tags with src attribte containing 'HKG.jpg' */
br {
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    /* pointer-events: none; */
}

nav ul a{
    /* pointer-events: none; */
    text-decoration: none;
}

nav .social-links {
    display: flexbox;
    display: flow-root;
    display: flex;
    justify-content: space-around;
    margin: .5em auto;
}

nav .social-links > a.social-link > i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

nav ul.right a:hover{
    text-decoration: none;
    color: #fff;
}

/* CSS for .social-links */
.social-links{
    text-align: center;
}

.social-links .social-link{
    width: 2.5rem;
    height: 2.5rem;
    background: #00000099;
    color: white;
    border-radius: 50%;
    font-size: larger;
    vertical-align: middle;
    /* text-align: center; */
    /* cursor: pointer; */
    text-decoration: none;
    /* display: -webkit-inline-box; */
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.social-links .social-link:focus{
    outline: none;
    box-shadow: 0 0 0 .15em #00000080;
}

.social-link#link-github{
    background-color: black;
}
.social-link#link-github:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
.social-link#link-github:active{
    background: radial-gradient(circle farthest-corner at bottom, gray, black);
}
.social-link#link-linkedin{
    background-color: blue;
}
.social-link#link-linkedin:hover{
    background-color: #0f0fdb;
}
.social-link#link-linkedin:focus{
    box-shadow: 0 0 0 .15em #0000ff80;
}
.social-links #link-linkedin.social-link:active{
    background-color: darkblue;
    background: radial-gradient(circle farthest-side at 0% 90%, blue, darkblue);
}
.social-link#link-mail{
    background-color: teal;
}
.social-link#link-mail:hover{
    color: lightskyblue;
}
.social-link#link-mail:active{
    background: linear-gradient(45deg turquoise, teal);
}
.social-link#link-mail:focus{
    box-shadow: 0 0 0 .15em rgba(0, 128, 128, 0.45);
}

/* style customisation for .back-to-top fixed button */
.back-to-top {
	position: fixed;
	bottom: 5%;
	right: 5%;
	/* font-size: 2em; */
	opacity: 80%;
    color: black;
	color: var(--page-theme);
    /* mix-blend-mode: difference; */   /* Causing issue with z-index */
	z-index: 5;
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

.back-to-top > small.option-indicator-label{
	font-size: x-small;
    user-select: none;
    /* visibility: visible; */
    opacity: 0.6;
}

.back-to-top:hover > small.option-indicator-label{
    /* visibility: visible; */
    opacity: 1;
}

/* Page Footer Style */
.page-footer{
    color: #000;
    background-color: transparent;
}

.page-footer .footer-copyright{
    margin-top: 2em;
    /* padding-left: 5%;
    padding-right: 5%; */
    font-size: .75em;
    /* color: black; */
    /* background-color: transparent; */
}
