body {
    font-family: "Play", "Noticia Text", "Text Me One";
}

header#top_section {
    min-height: 100vh;
}

/* Styling the scrollbar (currently only for the homepage, in screens larger than 992px) */
@media screen and (min-width:992px) and (min-resolution:96dpi) {    /* 96dpi or dots-per-inch resolution = 1dppx or dots-per-pixel */
    ::-webkit-scrollbar {
        background-color: #000;
        background: linear-gradient(#000000, #fff, #000);
        width: .5rem;
    }
    ::-webkit-scrollbar-thumb {
        /* background: azure; */
        background: red;
    }
}

/* Top section stylings */
.greeting {
    font-family:monospace;
    overflow-wrap: break-word;
    text-align: center;
    padding: 10% 0;
}

.welcome-message {
    text-align: center;
    line-height: 2;     /* Sets line height 2 (double) and keeps the line content at the vertical middle position */
    font-family: monospace;
}

.top-back {
    overflow: hidden;
    z-index: -1;
    position: relative;
}

.top-back .top-background-split {
    height: 50vh;
    background-color: var(--page-theme);
    /* transform: skewY(-10deg) translateY(25%); transform: rotateZ(-10deg); */
    transform: skewY(-10deg);
    transform-origin: right;
}

.top-back .scroll-more-indicator {
    color: white;
    /* mix-blend-mode: difference; */
    /* background-blend-mode: difference; */
    position: absolute;
    left: 50%;
    bottom: 45%;
    transform: translate(-50%);
    text-overflow: ellipsis;
    /* font-size: 1.5em; */
    white-space: nowrap;
	width: 2.5em;
    height: 2.5em;
	border-radius: 50%;
	border: .1em solid #fff;
	text-align: center;
    overflow: hidden;
    cursor: move;
    background: linear-gradient(#33333333, rgba(51, 51, 51, 0.4)) transparent;	
    animation: arrow-inside-oscillation .75s infinite alternate;
}

/* .top-back .scroll-more-indicator:hover{
    box-shadow: 0 0 4px white;
} */

/* Customised animations with @keyframes */
@-webkit-keyframes arrow-inside-oscillation {
	from { padding-top: 0; }
	to 	 { padding-top: 1.05em; }
}

@-o-keyframes arrow-inside-oscillation {
	from { padding-top: 0; }
	to 	 { padding-top: 1.05em; }
}

@-moz-keyframes arrow-inside-oscillation {
	from { padding-top: 0; }
	to 	 { padding-top: 1.05em; }
}

@keyframes arrow-inside-oscillation {
	from { padding-top: 0; }
	to 	 { padding-top: 1.05em; }
}

@-o-keyframes launch-and-settle {
	from, to { transform: translateY(0) rotate(270deg); }
	70%, 95% 	 { transform: translateY(-100%) rotate(270deg); }
}

@-moz-keyframes launch-and-settle {
	from, to { transform: translateY(0) rotate(270deg); }
	70%, 95% 	 { transform: translateY(-100%) rotate(270deg); }
}

@-webkit-keyframes launch-and-settle {
	from, to { transform: translateY(0) rotate(270deg); }
	70%, 95% 	 { transform: translateY(-100%) rotate(270deg); }
}

@keyframes launch-and-settle {
	from, to { transform: translateY(0) rotate(270deg); }
	70%, 95% 	 { transform: translateY(-100%) rotate(270deg); }
}

.name-card.content {
    margin-top: 5em;
}

.content {
    margin: 3.5em auto;
}

.content .content-head {
    text-align: center;
}

.content .content-head .content-pre-head, .content .content-head .head-content, .content.name-card .content-head .name-head-content {
    display: inline-block;
}

.content .head-content::after {
	content: "";
    display: block;
    background: #ffffff00;
	height: 2px;
	width: 0%;
    margin: auto;
	transition: .25s;
}

.content:hover .head-content::after {
    background: #000;
    transition: .75s;
    width: 100%;
}

.content .content-body {
    margin: .5em;
    text-align: justify;
}

.content .content-body-main {
    padding: .25em;
    z-index: 1;
}

@media (max-width:575px), print {
    .content .content-head .content-pre-head{
        display: none !important;
    }
}

@media (max-width:575px) {
    .name-card-box table tbody{
        display: table-row-group !important;
        width: 100%;
    }
}

@media screen and (max-width:350px) {
    .name-head-content.name{
        font-size: 2.2rem;
    }
}

/* My ID Card stylings */
.name-card-box table.name-card-contents tbody {
    width: auto;    /* Default value of width, used just to ensure default value in case width:fit-content is not supported */
    width: fit-content;
    display: block;
    margin: auto;
    transition: .5s;
}

.name-card-box table.name-card-contents tbody:hover {
    box-shadow: 0px 0px 0px 2px #000;
    box-shadow: 0px 0px 0px 2px var(--page-theme);
}

.image-thumbnail-holder {
    width: auto;
    width: fit-content;
    height: auto;
    height: fit-content;
    max-width: 200px;
    padding: .5em;
    border-radius: 5px;
    display: grid;
    display: flow-root;
    background: whitesmoke;
}

.image-thumbnail-holder > img {
    width: 100%;
}

/* About Me section stylings */
.content.about-content .expand-content { 
    /* cursor: pointer; */
    pointer-events: none;   /* Disabling any pointer events (including click event) for Read More... for a temporary fix to cancel its reappearance after being re-clicked via JavaScript, a temporary fix to the problem unless a better solution releases */ 
}

.text-reveal.collapsing {
    display: inline-block;      /* To smoothen collapsing transition of <span> text reveal */
}

/* Educational Qualification section CSS styles */
.qualification-section::before {
    content: "";
    background: #000;
    background-color: var(--page-theme);
    width: 1em;
    height: 1em;
    float: left;
    /* display: inline-block; */
    transform: translate(-50%, 0%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.qualification-section {
    margin-left: 10% !important;
    /* padding-left: 10%; */
    padding-right: .5em;
    border-left: 1.5px solid !important;
    display: flow-root;
}

.qualification-section > .card {
    margin-left: 10% !important;
    margin-bottom: 2rem;
    transition: .5s;
}

.qualification-section:nth-last-child(1) > .card {
    margin-bottom: 2pt;
}

@media (min-width:768px) {
    .qualification-section > .card:hover {
        transform: translateY(-.5vh);
        box-shadow: 0px 1px 6px 0px;
    }
}

/* My Skills chips input stylings */
.chips input.input {
    width: fit-content !important;
    max-width: 200px;
}

/* My Quotations carousel stylings */
.carousel.slide {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.6)), burlywood;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-item {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10%;
}

.carousel.slide .carousel-item .quote-view {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Noticia Text", Rajdhani, serif;
    font-weight: 600;
    font-size: x-large;
}

.carousel.slide .carousel-item .quote-view p {
    /* font-size: 1.05em; */
    text-align: justify;
}

@media only screen and (max-width:415px) {
    .carousel.slide .carousel-item .quote-view p {
        font-size: 0.85em;
    }
}

@media screen and (max-width:2000px) {
    .qualification-section > .card{
        margin-left: 5% !important;
    }
}

a[href^="#top"]:focus, a[href^="#top"]:focus-within {
    outline: hidden;
}

/* Site Footer stylings */
footer.site-footer{
    text-align: center;
    /* margin-bottom: 2em; */
    /* padding-bottom: 1em; */
}

span.ASCII_Emoji {
    transform: rotate(90deg);
    display: inline-block;
    font-weight: bold;
}